:root{
    --color: #3273dc;
}
.main--user{
    display: flex;
    width: 100%;
    justify-content: space-between;

    .main--project{
        width: 50%;
        padding-left: 200px;
        padding-top: 50px;
        box-sizing: border-box;
    }

    .main--team{
        width: 50%;
        padding-left: 400px;
        padding-top: 50px;
        box-sizing: border-box;
    }
}
.main--btn{
    width: 100px;
    height: 40px;
    border: none;
    background-color: var(--color);
    color: white;
    border-radius: 3px;
    margin-top: 100px;
    margin-left: 700px;
}
.main--btn:hover{
    background-color: #0442a5;
}
hr{
    border: none;
    border-bottom: 2px solid rgba($color: #000000, $alpha: 0.1);
    margin: 30px 35px;
}